h3 h4 {
    padding: 10px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #F9FAFB;
}

.statistics {
    display: flex;
    justify-content: center;
}

.statistics-2 {
    background-color: #F9FAFB;
}

.statistics-container {

    display: inline-block;
    padding: 20px;
    width: 800px;
}

.chart-container {
    width: 800px;
    height: 500px;
}

.mini-chart-container {
    width: 800px;
    height: 400px;
}

@media (max-width: 420px) {
    .chart-container, .mini-chart-container {
        height: 40vh;
        width: 90vw;
    }
    h2 {
        font-size: large;
    }

    .title-container {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #F9FAFB;
    }
}

#footer {
    margin-top: 20px;
    margin-bottom: 10px;
}